.slider-container {
  position: relative;
  margin: 0 auto;
  border: none;
  display: inline-block;
  overflow: hidden;
  @include tablet {
    height: 200px;
    display: flex;
  }

  @include desktop {
    display: none;
  }

  .slider-wrapper {
    display: flex;
    transition: transform 0.4s ease-in-out;

    margin: 0 auto;
    // 태블릿에서만 간격 추가
    @include tablet {
      gap: 15px;
      width: 100%;
    }
  }

  .slide {
    flex-shrink: 0;
    height: 100%;

    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .nav-arrow {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    font-size: 50px;
    color: #111;
    border: none;
    z-index: 10;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    &.prev {
      left: 0;
    }
    &.next {
      right: 10px;
    }

    &:hover {
      color: var(--color-main);
    }
    @include tablet{
      top: 20%;
    }
  }
}

.grid-desktop {
  display: none;

  @include desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;

    .grid-item img {
      width: 100%;
      height: auto;
    }
  }
}

// 텍스트 컨테이너
.text-container {
  position: relative;
  width: 100%;
  margin: 1.5rem auto;
  border-top: 1px solid #222;
  @include main-basic;
}

.text-grid-mobile {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 25px;
  padding-bottom: 10px;
}

.text-flex-tablet {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 20px;
  flex-wrap: wrap;
  padding-bottom: 1px;

  @include desktop {
    width: 85%;
    margin: 0 auto;
  }
}

.text-item-mobile {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    color: var(--color-main);
  }
}

.text-item-tablet {
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
  white-space: nowrap;
  margin-bottom: 10px;

  @include desktop {
    font-size: 18px;
    margin-bottom: 0;
  }

  &:hover {
    color: var(--color-main);
  }
}

.text-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  color: #222;
  font-size: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);

  &:hover {
    color: var(--color-main);
  }

  &.prev {
    left: -10px;
  }

  &.next {
    right: -10px;
  }
}

.text-indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.text-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dee2e6;
  cursor: pointer;
  transition: background-color 0.3s;
}

// 반응형 미디어 쿼리
@media (max-width: 768px) {
  .text-nav-button {
    display: flex;
  }

  .text-indicators {
    display: flex;
  }

  .slider-container {
    height: 250px;
  }
}
//가리는 문제 해결
@media (min-width: 769px) and (max-width: 1439px) {
  .text-nav-button {
    display: none;
  }

  .text-indicators {
    display: none;
  }

  .slider-container {
    height: 200px;
  }
}

@media (min-width: 1440px) {
  .slider-container {
    display: none;
  }
}
