.header {
  margin-bottom: 3rem;
  width: 100%;
  .menu-wrap {
    @include sub-basic;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    padding: 1rem 0.5rem;
    // min-width: 360px;
  }
  position: relative;
  .logo {
    cursor: pointer;
    img {
      margin-left: 1rem;
      width: 100px;
      @media screen and (min-width: 1300px) {
        margin-left: 2rem;
        width: 180px;
      }
    }
  }
  .hamburger,
  .close-btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 2rem;
  }
}
.mobile-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  .mobile-menu {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-bg);
    padding: 1rem;
    width: 250px;
    height: 80vh;
    ul.nav-list {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      // padding-top: 1.5rem;
    }
    .close-btn {
      position: absolute;
      top: 18px;
      right: 8px;
    }
  }
}
.desktop-menu {
  flex: 1;
  ul.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    li {
      position: relative;
      font-size: 1rem;
      @media screen and (min-width: 1300px) {
        font-size: 1.3rem;
      }
      .submenu {
        position: absolute;
        z-index: 110;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        margin-top: 8px;
        padding: 1rem;
        background-color: var(--color-bg);
        border-radius: 10px;
        @media screen and (min-width: 1024px) {
          margin-top: 1rem;
          min-width: 150px;
          li {
            padding: 0.5rem;
          }
        }
        @include desktop {
          min-width: 170px;
        }
      }
      &.open .submenu {
        display: block;
        z-index: 111;
      }
    }
  }
}

.nav-list {
  padding-top: 1.5rem;
  @include main-basic;
  @media screen and (min-width: 1024px) {
    padding: 0;
  }
  .submenu {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    li {
      animation: fadeInUp 0.4s ease forwards;
      &:nth-child(1) {
        margin-top: 0.5rem;
        animation-delay: 0.1s;
        @media screen and (min-width: 1024px) {
          margin-top: 0;
        }
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.3s;
      }
    }
  }
  li {
    cursor: pointer;
    text-align: right;
    padding: 0.5rem;
    border-radius: 0.5rem;
    @media screen and (min-width: 1024px) {
      text-align: center;
    }
  }
  li:nth-child(n + 3):hover {
    color: var(--color-main);
  }
  button {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    &:hover {
      color: var(--color-main);
    }
    @media screen and (min-width: 1300px) {
      font-size: 1.3rem;
    }
  }
  .open {
    .submenu {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      li {
        padding-top: 0.5rem;
        opacity: 0;
        transform: translateY(10px);
        &:hover {
          color: var(--color-main);
        }
      }
    }
  }
}
//목록 애니메이션
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//영상효과
.video-wrap {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  video {
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: 1440px) {
      width: 95%;
    }
  }
  .video-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
    pointer-events: none;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 40%;
      height: 100%;
      background-color: var(--color-bg);
      z-index: 100;
      transition: transform 1.5s ease-in-out;
    }
    &::before {
      left: 0;
      transform: translateX(0);
    }
    &::after {
      right: 0;
      transform: translateX(0);
    }
    &.open::before {
      transform: translateX(-100%);
    }
    &.open::after {
      transform: translateX(100%);
    }
  }
}
