//폰트 크기
$font-big:3rem; //40px
$font-large:2rem; //32px
$font-medium: 1.5rem; //24px
$font-basic: 1rem; //16px
$font-regular: 0.75rem; //12px
$font-small: 0.5rem; //8px

//폰트 굵기
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

//라인 높이 
$line-height-tight: 1.2;
$line-height-normal: 1.5;
$line-height-loose: 1.8;
